body {
  font-family: "Montserrat", serif;
  --color1: #ffffff;
  --color2: black;
  --color3: #aa9f7d;
  --color4: #4a3b29;
  --color5: #303f3c;
  margin: 0;
  padding: 0;
}

/* HERO - sektion */

.hero {
  width: 100%;
  max-width: 100%;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 format */
}

.hero-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the area without black bars */
}

/* OPDAG EFTER KATEGORI sektion - (mobil) */

.h1_kategori {
  text-align: center;
  color: var(--color4);
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}
.flex-kategori-sektion {
  display: flex;
  justify-content: space-evenly;
  gap: px;
  flex-wrap: wrap;
  margin: 0;
}
.flex-kategori-sektion h2 {
  text-align: center;
  width: 100%;
  height: auto;
  color: var(--color4);
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.flex-kategori-sektion img {
  width: 100%;
  height: auto;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}
.kategori-sektion {
  width: 20%;

  text-align: center;
}

/* OMSMELTNING sektion - (mobil) */

.omsmeltning-sektion {
  position: relative;
  width: 100%;
  height: auto;
}
.omsmeltning-sektion img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.omsmeltning-tekst-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color1);
  text-align: center;
  z-index: 2;
  padding: 10px;
  width: 90%;
}
.omsmeltning-tekst-overlay h2 {
  font-size: 9px;
  font-weight: 700;
  margin: 10px 0 5px;
  color: var(--color1);
}
.omsmeltning-tekst-overlay h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 5px;
}
.omsmeltning-tekst-overlay p {
  font-size: 9px;
  font-weight: 300;
  margin: 0px 70px 5px;
}
.omsmeltning-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 500;
  color: var(--color4);
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
}

/* REPERATIONER sektion - (mobil) */

.reperationer-sektion {
  position: relative;
  width: 100%;
  height: auto;
}
.reperationer-sektion img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.reperationer-tekst-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  padding: 10px;
  width: 90%;
}
.reperationer-tekst-overlay h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 5px;
  color: var(--color1);
}
.reperationer-tekst-overlay p {
  font-size: 9px;
  font-weight: 300;
  margin: 0px 70px 5px;
  padding-bottom: 5px;
  color: var(--color1);
}
.reperationer-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 500;
  color: var(--color4);
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
}

/* Trustpilot sektion (mobil & desktop) */

.trustpilot img {
  width: 100%;
  height: 100%;
}

@media (min-width: 816px) {
  body {
    font-family: "Montserrat", serif;
    --color1: #ffffff;
    --color2: black;
    --color3: #aa9f7d;
    --color4: #4a3b29;
    --color5: #303f3c;
  }

  main {
    margin-top: 105px;
  }

  /* HERO sektion - (desktop) */

  .hero-container {
    padding-bottom: 42.25%;
  }
  .hero-button {
    font-size: 22px;
  }

  /* OPDAG EFTER KATEGORI sektion - (desktop) */

  .h1_kategori {
    text-align: center;
    color: var(--color4);
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
  }

  .kategori-sektion h2 {
    text-align: center;
    width: 100%;
    height: auto;
    color: var(--color4);
    font-size: 20px;
    font-weight: 550;
    margin: 0;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .kategori-sektion img {
    width: 80%;
    height: auto;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
  }

  /* OMSMELTNING sektion  - (desktop) */

  .omsmeltning-sektion img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center left;
  }
  .omsmeltning-tekst-overlay {
    top: 50%;
    width: 50%;
  }
  .omsmeltning-tekst-overlay h2 {
    font-size: 16px;
    font-weight: 700;
    padding: 3px;
    color: var(--color1);
  }
  .omsmeltning-tekst-overlay h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 3px;
    color: var(--color1);
  }
  .omsmeltning-tekst-overlay p {
    font-size: 16px;
    font-weight: 300;
    padding: 3px;
    padding-bottom: 20px;
    color: var(--color1);
  }

  .omsmeltning-button {
    font-size: 16px;
    font-weight: 500;
    color: var(--color4);
  }

  /* REPERATIONER sektion - (desktop) */

  .reperationer-sektion img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center left;
  }

  .reperationer-tekst-overlay {
    top: 50%;
    width: 50%;
    padding: 20px;
  }
  .reperationer-tekst-overlay h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 3px;
    color: var(--color1);
  }
  .reperationer-tekst-overlay p {
    font-size: 16px;
    font-weight: 300;
    padding: 3px;
    padding-bottom: 20px;
    color: var(--color1);
  }

  .reperationer-button {
    font-size: 16px;
    font-weight: 500;
    color: var(--color4);
  }

  .trustpilot img {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* GAVEIDEER sektion - (desktop) */
.gaveideer-sektion {
  display: block;
}

.desktop-only {
  display: block;
}
@media (max-width: 816px) {
  .desktop-only {
    display: none !important;
  }
}
.gaveideer-sektion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 10px;
  background-color: var(--color3);
}

.gaveideer-sektion h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  color: var(--color1);
}
.flex-gaveideer-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 25px 10px;
}
.gaveideer-box {
  background-color: var(--color1);
  text-align: center;
  padding: 30px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gaveideer-box img {
  max-width: 100%;
}
.gaveideer-box p {
  margin: 10px 0;
  font-size: 10px;
  color: var(--color4);
}
.se-mere-container {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.se-mere {
  display: flex;
  justify-content: right;
  color: var(--color1);
  font-size: 14px;
  font-weight: 400px;
  cursor: pointer;
}

.se-mere-button {
  background-color: #d4c8a5; /* Den beige baggrundsfarve */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-bottom: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Let skyggeeffekt */
}

.se-mere-button-container {
  color: var(--color1);
  font-size: 20px; /* Størrelse på pilen */
  font-weight: bold;
  padding-bottom: 2.5px;
  justify-content: end;
}

.arrow-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Standard styling */
.gaveideer-sektion {
  background-color: var(--color3); /* Original baggrundsfarve */
  display: block;
}

/* Fjern baggrundsfarve og skjul på mobil */
@media (max-width: 816px) {
  .gaveideer-sektion {
    display: none !important; /* Skjuler sektionen fuldstændig */
    background-color: transparent !important; /* Overskriv baggrundsfarve */
    visibility: hidden; /* Skjul visuelt, hvis display ikke er nok */
    height: 0; /* Undgå pladsreservation */
    margin: 0; /* Fjern marginer */
    padding: 0; /* Fjern padding */
  }
}
