
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    background-color: #AA9F7D; 
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
}
.top-bar-2 {
    display: flex;
    justify-content: space-between;
    background-color: #AA9F7D; 
    color: #ffffff;
    font-size: 14px;
    padding: 5px 20px;
    display: none;
}

.top-bar .flag {
    margin-left: auto;
}

.menu-icon{
    color: #AA9F7D;
}

.top-bar .top-item strong {
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header2{
    display: none;
}

.logo img {
    height: 70px; 
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.søge img{
   width: 20%;
   height: auto;
}
.kurv img{
    width: 20%;
    height: auto;
 }
 .hero {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.hero-content h1 {
    font-size: 4rem; 
    margin: 0;
}
.section-divider {
    width: 200px;               
    height: 1px;               
    background-color: #4A3B29; 
    margin: 10px auto;        
}
.section-divider-hvid {
    width: 200px;               
    height: 1px;               
    background-color: #ffffff; 
    margin: 10px auto;        
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('smykker.webp') no-repeat center center;
    background-size: cover;
    z-index: -1; 
}
.AlleSmykker{
    text-align: center;
    color: #4A3B29;
    font-size: 1.5rem;
    font-weight: bold;

    }
.sort-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4A3B29; 
    background-color: transparent;
    color: #4A3B29; 
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    width: 90%; 
    height: 5vh;
    }
    
    .sort-button .sort-icon {
        margin-right: 8px; 
        font-size: 18px;
        line-height: 1;
    }
    
.grid1_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .grid1_1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid1_1 img:hover{
    transform: scale(1.05);
}
.pagination-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0;          
}
.page-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #4A3B29;
    background-color: transparent;
    color: #4A3B29;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 16px;
    width: 120px;
    height: 2vh;
}

.page-icon {
    margin: 0 10px;
    font-size: 10px;
    user-select: none;
}
  /* Footer -----------------------*/
footer {
    background-color: #aa9f7d4f;
    padding: 20px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h4 {
    margin-bottom: 10px;
    font-weight: bold;
  }
input, button {
    margin: 5px 0;
    font-size: 12px;
    background-color: transparent;
  }
footer p{
    font-weight: lighter;
    font-size: 10px;

}
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-section input {
    padding: 8px;
    border: 1px solid #4A3B29;
    width: 70%;
  }
  
  .footer-section button {
    padding: 8px;
    background-color: transparent;
    border: 1px solid #4A3B29;
    cursor: pointer;
  }
  
  /* Social og betalingsikoner */
  .footer-icons {
    margin-top: 20px;
  }
  
  .social-icons img,
  .payment-icons img {
    width: 40px;
    margin: 5px;
  }
  .footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .footer-container h4{
    font-size: 12px;
  }
/* RESPONSIV DESIGN */
@media (min-width: 813px) {
    .menu-icon {
        display: none; 
    }

    .top-bar {
   display: none;   
    }
    .top-bar-2 {
        display: flex   
         }

    
    .header {
        padding: 10px 50px;
    }
    .grid1_1{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       }
    .grid1_1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hero{
    height: 50vh;
    }
    .hero-content p {
        margin-left: 8em;
        margin-right: 8em;
    }
 .section-divider {
        width: 250px;               
        height: 1px;               
        background-color: #4A3B29; 
        margin: 10px auto;        
    }
 .section-divider-hvid {
        width: 250px;               
        height: 1px;               
        background-color: #ffffff; 
        margin: 10px auto;        
    }
    .header1{
        display: none;
    }
    
    .header2 {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        padding: 0 20px; 
        height: 80px; 
        position: relative; 
    }
    
    .logo img {
        height: 100px; 
        position: absolute; 
        left: 20px; 
        top: 50%; 
        transform: translateY(-50%);
    }
    
    .nav {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .nav ul {
        list-style: none; 
        margin: 0;
        padding: 0;
        display: flex; 
    }
    
    .nav ul li {
        margin: 0 15px; 
    }
    
    .nav ul li a {
        text-decoration: none;
        color: #4A3B29;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .nav ul li a:hover {
        color: #AA9F7D;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
      }
    
      .footer-section {
        flex: 1;
      }
    
      .footer-section input {
        width: auto;
      }
      .footer-container p{
        font-size: 14px;
      }
      .footer-container h4{
        font-size: 17px;
      }
}

